/* *** Import variables agems *** */
@import "../../../../../styles/test-variables/test-variables";

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 0;
  margin-left: 0;
}