<header>
  <div class="header-menu-serch">
    <nav>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
              matTooltip="Menu de navigation"
              aria-label="button qui permet la navigation du site">
        <span class="hamburger"></span>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let menu of menus; let i = index" (click)="navigate(menu.link)">
          <mat-icon>{{ menu.menuIcon }}</mat-icon>
          <span>{{ menu.menuName }}</span>
        </button>
      </mat-menu>
    </nav>

    <div class="form-search"
         matTooltip="Cliquez à gauche de l'icone pour faire une recherche"
         aria-label="Champ de recherche">
      <form>
        <input type="text" name="search" id="search" class="search">
        <button type="submit" class="search-submit"><mat-icon>search</mat-icon></button>
      </form>
    </div>
  </div>

  <div class="header-title"><h1>minim</h1></div>

  <div class="header-account">
    <a href="#" class="account-link">Account</a>

    <a href="#" class="account-alert"
       matTooltip="Vous avez 4 alertes. Connectez vous pour les consulter."
       aria-label="Icone qui affiche le decompte des alertes">
      <mat-icon>notifications_none</mat-icon>
    </a>
    <span class="account-number">4</span>
  </div>
</header>
