/* *** Import variables agems *** */
@import "../../../../../styles/test-variables/test-variables";

header {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  padding: 0 50px;

  @media (max-width: 991.98px) { 
    grid-template-columns: 1fr 100px;
    padding: 0 20px;
  }

  @media (max-width: 440px) { 
    grid-template-columns: 1fr 50px;
  }

  .header-menu-serch {
    justify-self: start;

    display: grid;
    grid-template-columns: 50px 34vw;

    @media (max-width: 991.98px) { 
      grid-template-columns: 50px 50vw;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    nav {
      button {
        .hamburger {
          display: inline-block;
          width: 20px;
          height: 20px;
          background: transparent url('src/assets/icons/hamburger.svg') no-repeat center;
          background-size: 20px 20px;
        }
      }
    }

    .form-search {
      form {
        .search {
          width: 20%;
          height: 25px;
          padding: 5px;
          
          border: none;
          background-color: transparent;

          -webkit-transition: width .08s, background-color .4s;
          transition: width 2s;

          &:focus {
            width: 83%;
            background-color: $gris3;
          }
        }

        .search-submit{
          position: relative;
          top: 10px;
          right: 33px;

          background-color: transparent;
          border: none;
        }
      }
    }
  }

  .header-title {
    justify-self: center;

    @media (max-width: 991.98px) { 
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    h1 {
      font-size: 22px;
      line-height: 48px;
      vertical-align: middle;
    }
  }

  .header-account {
    justify-self: end;

    display: grid;
    grid-template-columns: 120px 1fr 14px;

    @media (max-width: 991.98px) { 
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    a {
      font-size: 12px;
      line-height: 48px;
      vertical-align: middle;
      text-transform: uppercase;
      color: $black;

      &.account-alert {
        .mat-icon {
          position: relative;
          top: 10px;

          @media (max-width: 991.98px) { 
            top: 3px;
            right: 4px; 
          }
        }
      }
    }

    .account-number {
      display: block;
      width: 12px;
      height: 12px;
      position: relative;
      top: 20px;
      right: 10px;
      border-radius: 50%;
      color: $white;
      background-color: $gris2;
      font-size: 8px; 
      text-align: center; 

      @media (max-width: 991.98px) { 
        top: 12px;
        right: 15px; 
      }
    }
  }
}
