/* *** Import variables agems *** */
@import "../../../../../styles/test-variables/test-variables";

.home {
  display:  grid;
  grid-template-columns: 300px 1fr 300px;
  row-gap: 100px;

  margin: 0 0 100px 0;
  padding: 0 50px;

  @media (max-width: 1320px) { 
    grid-template-columns: 100px 1fr 200px;
  }

  @media (max-width: 991.98px) { 
    grid-template-columns: 100px 1fr;
    row-gap: 50px;
    padding: 0 20px;
  }
  
  @media (max-width: 640px) { 
    margin: 0 0 50px 0;
  }

  .home-side-menu {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @media (max-width: 991.98px) { 
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .title-shop {
      font-size: 28px;
      font-weight: 900;

      &::after {
        display: block;
        content: '';
        width: 2px;
        height: 50px;
        background-color: $gris2;
        margin: 35px 0 50px 0;

        @media (max-width: 640px) { 
          width: 50px;
          height: 2px;
          margin: 3vw 0 6vw 0;
        }
      }
    }

    .list-sous-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 12px;
      text-transform: capitalize;
      cursor: pointer;

      .sous-menu-home {
        margin: 0 0 25px 0;
        color: $gris1;

        @media (max-width: 640px) { 
          margin: 0 0 2.5vw 0;
        }

        &:hover {
          cursor: pointer;
        }

        &.active {
          font-weight: 500;
          color: $black;
        }
      }
    }
  }

  .home-slider {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;

    @media (max-width: 991.98px) { 
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    width: 100%;
    max-width: 490px;
  }

  .home-edition {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: start;

    @media (max-width: 991.98px) { 
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: center;
    }

    .edition-version {
      margin: 0 0 150px 0;
      font-weight: 500;

      @media (max-width: 991.98px) { 
        margin: 0;
      }
    }

    .edition-tag {
      .tag-label {
        font-size: 14px;
        color: $gris;
      }

      .tag-name {
        text-transform: capitalize;
        font-size: 28px;
        font-weight: 500;
        color: $black;
      }
    }
  }

  .home-side-menu-indicator {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    margin: 0 0 0  calc(50% - 75px);

    @media (max-width: 991.98px) { 
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }

    .sous-menu-home-indicators {
      display: grid;
      grid-template-columns: repeat(4, 25px);

      margin: 0;
      padding: 0;

      list-style: none;

      .indicators-item {
        display: inline-block;
        width: 5px;
        height: 5px;
        border: 1px solid $black;
        border-radius: 50%;

        &.active {
          background-color: $black;
        }
      }
    }
  }

  .shop-link {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    @media (max-width: 991.98px) { 
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      justify-self: end;
    }

    .link {
      padding: 5px 20px;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 12px;
      font-weight: 500;
      color: $black;
      border: 2px solid $black;

      &:hover, &:active, &:visited, &:link {
        cursor: pointer;
        font-size: 13px;
      } 
    }
  }
}
