<div class="home">
  <div class="home-side-menu">
    <h2 class="title-shop">Shop</h2>

    <ul class="list-sous-menu">
      <li *ngFor="let menuHome of menuHomes; let i = index" [class]="indexClass === i ? 'sous-menu-home active' : 'sous-menu-home'" (click)="getClass(i)">{{ menuHome }}</li>
    </ul>
  </div>

  <div class="home-slider">
    <app-carousel *ngIf="indexClass === 0"></app-carousel>
    <app-accesoires *ngIf="indexClass === 1"></app-accesoires>
    <app-sports *ngIf="indexClass === 2"></app-sports>
    <app-clothing-wear *ngIf="indexClass === 3"></app-clothing-wear>
  </div>

  <div class="home-edition">
    <p class="edition-version">{{ limitedEdition.version }}</p>

    <p class="edition-tag">
      <span class="tag-label">Limited edition</span>
      <br>
      <span class="tag-name">{{ limitedEdition.editionName }}</span>
    </p>
  </div>

  <div class="home-side-menu-indicator">
    <ul class="sous-menu-home-indicators">
      <li *ngFor="let menuHome of menuHomes; let i = index" [class]="indexClass === i ? 'indicators-item active' : 'indicators-item'"></li>
    </ul>
  </div>

  <div class="shop-link"><a href="#" class="link">Shop Now</a></div>

</div>
