/* *** Import variables agems *** */
@import "../../../../../styles/test-variables/test-variables";

.footer-menu  {
  display: grid;
  grid-template-columns: 206px 1fr 110px;

  padding: 0 50px;

  font-size: 12px;

  @media (max-width: 798px) { 
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 15px;
    padding: 0 20px;
  }

  .footer-copyrights{
    justify-self: start;
    text-transform: capitalize;
    color: $gris2;

    @media (max-width: 798px) { 
      justify-self: inherit;
    }

    .copyrights-para {
      @media (max-width: 798px) { 
        text-align: center;
      }
    }
  }

  .footer-list {
    justify-self: center;
    width: 56%;

    .list-link {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;

      padding: 0;

      text-transform: uppercase;

      @media (max-width: 798px) { 
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
      }

      .link-item {
        color: $gris;
      }
    }
  }

  .footer-socialmedia {
    justify-self: end;
    width: 100%;

    @media (max-width: 798px) { 
      justify-self: inherit;
    }

    .socialmedia-para {
      @media (max-width: 798px) { 
        text-align: center;
      }

      .para-link {
        display: inline-block;
        width: 20px;
        height: 20px;

        &::before {
          display: block;
            content: '';
            width: 100%;
            height: 100%;
        }

        &.facebook {
          &::before {
            background: transparent url('src/assets/icons/facebook.svg') no-repeat center;
          }
        }

        &.linkedin {
          margin: 0 10px;

          &::before {
            background: transparent url('src/assets/icons/linkedin.svg') no-repeat center;
          }
        }

        &.twitter {
          &::before {
            background: transparent url('src/assets/icons/twitter.svg') no-repeat center;
          }
        }
      }
    }
  }
}