<div class="footer-menu">
  <div class="footer-copyrights">
    <p class="copyrights-para">	&copy; Copyright Minim Website 2019</p>
  </div>

  <div class="footer-list">
    <div class="list-link">
      <a href="#" class="link-item first">First</a>
      <a href="#" class="link-item second">Second</a>
      <a href="#" class="link-item third">Third</a>
      <a href="#" class="link-item fourth">Fourth</a>
      <a href="#" class="link-item fifth">Fifth</a>
      <a href="#" class="link-item sixth">Sixth</a>
    </div>
  </div>

  <div class="footer-socialmedia">
    <p class="socialmedia-para">
      <a href="#" class="para-link facebook"></a>
      <a href="#" class="para-link linkedin"></a>
      <a href="#" class="para-link twitter"></a>
    </p>
  </div>

</div>
