/* *** Import variables agems *** */
@import "../../../styles/test-variables/test-variables";

.produit-detail {

  .mat-dialog-title {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .mat-produit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;

    @media (max-width: 590px) { 
      grid-template-columns: 1fr 2fr;
    }

    @media (max-width: 590px) { 
      grid-template-columns: 1fr;
    }

    .produit-view {

      .view-img {
        @media (max-width: 590px) { 
          width: 50%;
        }
      }

      .produit-tag {
        font-size: 12px;

        .tag-label {
          margin: 0 20px 0 0;
          font-weight: 500;
        }

        .tag-br {
          display: none;

          @media (max-width: 590px) { 
            display: block;
          }
        }
      }

      .produit-price {
        font-weight: 300;
        color: $gris1;
      }

    }

    .produit-description {
      font-size: 16px;
      line-height: 25px;

      .description-origine {
        margin: 0 0 15px 0;

        .tag-label {
          font-weight: 500;
        }

        .tag-name {

        }
      }

      .description-content {
        .content-label {
          font-weight: 500;
        }

        .content-description {}
      }
    }
  }
}
