<div class="produit-detail">
    <h2 mat-dialog-title>{{ data.name}}</h2>

    <mat-dialog-content class="mat-produit">
      <div class="produit-view">
        <img [src]="data.link" [title]="data.name" [alt]="data.name" class="view-img">

        <p class="produit-tag">
          <span class="tag-label">Picklesuit :</span>
          <br class="tag-br">
          <span class="tag-name">{{ data.picklesuite }} </span>
        </p>

        <p class="produit-price">{{ data.price }} &euro;</p>
      </div>
      
      <div class="produit-description">
        <p class="description-origine">
          <span class="tag-label">Origine : </span>
          <span class="tag-name">{{ data.origine }} </span>
        </p>

        <p class="description-content">
          <span class="content-label">Description : </span>
          <br>
          <span class="content-description">{{ data.description }}</span>
        </p>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="actions">
      <button mat-button mat-dialog-close class="actions-btn-close"><mat-icon>close</mat-icon></button>
    </mat-dialog-actions>
</div>