/* *** Import variables agems *** */
@import "../../../../../styles/test-variables/test-variables";

.list-produits {
  margin: 0 50px;

  .produits-title {
    .title {
      margin: 0 0 100px 0;
      text-transform: capitalize;
      font-size: 28px;
      font-weight: 500;
    }
  }

  .produits-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
    row-gap: 100px;
    justify-content: space-between;

    @media (max-width: 592px) { 
      grid-template-columns: 216px;
      justify-content: center;
    }

    .item {
      cursor: pointer;

      @media (max-width: 592px) { 
        width: 216px;
      }

      .item-img {
        margin: 0 0 40px 0;
      }

      .item-tag {
        text-transform: capitalize;
        font-size: 12px;

        .tag-label {
          margin: 0 50px 0 0;
          font-weight: 500;
          color: $black;
        }

        .tag-name {
          color: $gris1;
        }
      }

      .item-price {
        color: $gris2;
      }
    }
  }
}