<div class="list-produits">
  <div class="produits-title"><h1 class="title">{{ pageTitle }}</h1></div>

  <div class="produits-items">
    <div *ngFor="let listProduit of listProduits; let i = index" class="item" (click)="openPopin(listProduit)">
      <img [src]="listProduit.link" [title]="listProduit.name" [alt]="listProduit.name" class="item-img">

      <p class="item-tag">
        <span class="tag-label">Picklesuit</span>
        <span class="tag-name">{{ listProduit.picklesuite }} </span>
      </p>

      <p class="item-price">{{ listProduit.price }} &euro;</p>
    </div>
  </div>
</div>
