@import '../material/material-theme';

// Module colors
$pro : #ee1e4b;
$eta : #26c2d0;
$global : #dd950b;

// General colors
$black: #111;
$white: #fafafa;
$gris: #474747;
$bleu: #3599cc;

$gris1: #8e8282;
$gris2: #b1b1b1;
$gris3: #f5f5f5;
$gris4: #e8e8e8;
